@using System.Reflection
@model CharacterEntityListViewModel<CharacterEntity>
@{
    ViewData["Title"] = "Sector";
}

<h2>Sector</h2>
<h3>@Model.Name</h3>
<table class="table table-dark">
  <thead>
    <tr>    
        @foreach (PropertyInfo attribute in typeof(CharacterSheet).GetProperties())
        {
            var name = attribute.Name;
            <th scope="col">@name</th>
        }
        
    </tr>
  </thead>
@foreach(var entity in Model.Entities)
{
    <tr scope="row">
        <th scope="row">@entity.DisplayName</th>
        @foreach(var prop in entity.Stats.GetType().GetProperties())
        {
            <td>@Html.DisplayName(prop.GetValue(entity)?.ToString())</td>
        }
    </tr>
}
</table>


